USE [master]
GO
/****** Object:  Database [QuanLyHocSinhTHCS]    Script Date: 07/12/2019 10:18:43 SA ******/
CREATE DATABASE [QuanLyHocSinhTHCS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHocSinhTHCS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyHocSinhTHCS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyHocSinhTHCS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyHocSinhTHCS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHocSinhTHCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHocSinhTHCS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 07/12/2019 10:18:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 07/12/2019 10:18:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGV] [nvarchar](10) NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
	[Tuoi] [smallint] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 07/12/2019 10:18:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHS] [nvarchar](10) NOT NULL,
	[TenHS] [nvarchar](50) NOT NULL,
	[Tuoi] [smallint] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NoiSinh] [nvarchar](100) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 07/12/2019 10:18:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [nvarchar](20) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[MaGVCN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 07/12/2019 10:18:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [nvarchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[SoTiet] [nvarchar](10) NOT NULL,
	[TongSoTiet] [smallint] NOT NULL,
	[MaGV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [Tuoi], [DiaChi]) VALUES (N'GV001', N'Phạm Thị Hồng', 35, N'Hà Nội')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [Tuoi], [DiaChi]) VALUES (N'GV002', N'Phạm Văn Hà', 40, N'Hà Nội')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [Tuoi], [DiaChi]) VALUES (N'GV003', N'Nguyễn Thị Ngọc', 23, N'Phú Xuyên - Hà Nội')
INSERT [dbo].[HocSinh] ([MaHS], [TenHS], [Tuoi], [GioiTinh], [NoiSinh], [MaLop]) VALUES (N'HS001', N'Lương Vũ Thuần', 15, N'Nam', N'Hà Nội', N'K9B')
INSERT [dbo].[HocSinh] ([MaHS], [TenHS], [Tuoi], [GioiTinh], [NoiSinh], [MaLop]) VALUES (N'HS002', N'Lê Văn Trương', 13, N'Nam', N'Hà Nội', N'K6A')
INSERT [dbo].[HocSinh] ([MaHS], [TenHS], [Tuoi], [GioiTinh], [NoiSinh], [MaLop]) VALUES (N'HS003', N'Nguyễn Anh Tú', 14, N'Nam', N'Hưng Yên', N'K8A')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaGVCN]) VALUES (N'K6A', N'Lớp 6A', N'GV001')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaGVCN]) VALUES (N'K6B', N'Lớp 6B', N'GV001')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaGVCN]) VALUES (N'K7A', N'Lớp 7A', N'GV002')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTiet], [TongSoTiet], [MaGV]) VALUES (N'MH001', N'Toán ', N'1-4', 50, N'GV001')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTiet], [TongSoTiet], [MaGV]) VALUES (N'MH002', N'Lý ', N'1-5', 45, N'GV002')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTiet], [TongSoTiet], [MaGV]) VALUES (N'MH003', N'Hóa', N'6-12', 45, N'GV003')
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK__HocSinh__MaLop__4222D4EF] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK__HocSinh__MaLop__4222D4EF]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaGVCN])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
USE [master]
GO
